nav.navbar {
	background-color: #196844 !important;
}

a.navbar-brand {
	color: #E8C63E !important;
	font-weight: bold;
}

a.dropdown-toggle {
	color: #FFFFDC !important;
}

a.dropdown-toggle:hover {
	background-color: #E8C63E !important;
}

.schedule-td {
	text-align: center;
}
textarea { 
   /* will prevent resizing horizontally */
   resize:vertical;
}
.schedule-td:hover {
/* 	cursor: pointer !important; */
	background-color: #F5F5F5 !important;
/* 	border: 1px solid #196844 !important; */
	color: #196844 !important;
}

.item-activo{
	background-color: #286090;
	color: white;
}
.items_rubrica:hover{
	background-color: #95c4ed;
}
.item-seleccionable{
	cursor:pointer;	
}